body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

/* #root h1{
    align-self:flex-end;
    @media (max-width: 992px) {
        align-self: center;
    }
} */

#hero{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr 0.55fr 0.8fr;
    grid-template-areas: "title img" "subtitle img" "buttons img";
    @media (max-width: 992px) {
        grid-template-areas: "title title" "subtitle img" "buttons img";
    }
    @media (max-width: 768px) {
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr 1fr 0.8fr;
    }
}

.text-border{
    -webkit-text-stroke: 1px #00000073;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}   
::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

h1#gr_heading{
    background: linear-gradient(to right,#97c54b, #5da539, rgb(51, 128, 0), rgb(9, 157, 4), #97c54b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 3.5s linear alternate infinite;
}

@keyframes animate-gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}
