body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

#root h1{
    align-self:flex-end;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr 0.55fr 0.8fr;
    grid-template-areas: "title img" "subtitle img" "buttons img";
}

.text-border{
    -webkit-text-stroke: 1px #00000073;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}   

