body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}   

