# Ignore node_modules in both client and server directories
client/node_modules/
server/node_modules/

# Ignore environment files
*.env

# Ignore build outputs
client/build/
server/build/

# Ignore logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Python virtual environment
env