.PhoneInputInput{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 15px;
    font-size: 1.2rem;
    border:none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    font-family: 'OpenSans', sans-serif;
    color: #4a5568;
    border-bottom: 3px solid transparent;
}


.random{
    color: #000000;
}

/* Example global styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Avoid horizontal scroll */
  }
  